{{ form_start(form) }}
<div class="d-flex">
    <div class="flex-grow-1">
        {{ form_widget(form.content) }}
    </div>
    <div>
        {{ form_widget(form.submit) }}
    </div>
</div>

{{ form_end(form) }}