{{ form_start(form) }}
<div class="row g-3">
    <div class="col-9 flex-grow-1">
        {{ form_widget(form.content) }}
    </div>
    <div class="col">
        {{ form_widget(form.submit) }}
    </div>
</div>

{{ form_end(form) }}