{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-container-sm">
        <h1 class="mb-5">{% block title %}{% endblock %}</h1>
        {% block form %}{% endblock %}
    </div>
{% endblock %}
