@import '~bootstrap-icons/font/bootstrap-icons.css';

hr {
  margin: 1rem auto;
  width: 200px;
  height: 3px !important;
  border-radius: 3px;
  opacity: 0.2;
}

.button-unstyled {
  border: 0 transparent !important;
  background-color: transparent;
  color: inherit;
}

#body {
  margin-top: 56px;
}

.my-container-500 {
  max-width: 500px !important;
}

.my-container-600 {
  max-width: 600px !important;
}

.my-container-800 {
  max-width: 800px !important;
}

button.close {
  background: transparent;
  -webkit-appearance: none;
  border: 0;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  font-family: inherit;
  position: absolute;
  top: 0;
  right: 0;
  padding: .75rem 1.25rem;
  color: inherit;
  height: 100%;
}

button.close:hover {
  color: #000
}

#account_cover {
  width: 100%;
  position: relative;
  height: 300px;
}

#account_avatar {
  z-index: 5;
  width: 150px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, +50%);
}

#navbarDarkDropdownMenuLink {
  width: 50px;
  height: 50px;
}

#navbar-avatar-dropdown {
  right: 0;
  left: auto;
}

.navbar-avatar {
  width: 40px;
  height: 40px;
}

#avatar-navlink #navbarDropdown::after {
  margin: auto auto auto 0.255em;
}

#avatar-navlink .dropdown-menu {
  right: 0;
  left: auto;
}

#navbar-logout {
  padding-left: 1.2rem;
}

.navbar-brand {
  margin-right: auto;
}

.profile-cover-avatar {
  margin-bottom: 100px;
}

.mini-profile .profile-cover-avatar {
  margin-bottom: auto;
}

.profile-images-container {
  position: relative;
}

.cover-container {
  width: 100%;
  height: 350px;
}

.mini-profile.cover-container {
  width: 275px;
  height: 150px;
  margin-bottom: 2.5rem;
}

.avatar-container {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, +50%);
}

.mini-profile .avatar-container {
  width: 100px;
  height: 100px;
  transform: translate(-50%, 0.5rem);
}

.post-figure {
  width: 100%;
}

.post-radius {
  border-radius: 2%;
}

.post-avatar {
  width: 60px;
  height: 60px;
}

.popover-body {
  padding: 0;
}

.post-owner a, .profile-sett a, a.navlink-icon, .search_results a, .conversation-container a {
  color: inherit;
  text-decoration: none;
}

.post-owner a:hover {
  text-decoration: underline;
}

#profile-setting-btn {
  width: 125px;
}

.small-avatar {
  width: 50px;
  height: 50px;
}

.search_results {
  min-width: 275px;
}

.navbar-search-link {
  cursor: pointer;
}

.bi.bi-20::before {
  font-size: 20px
}

.bi.bi-25::before {
  font-size: 25px
}

.toast-avatar-container {
  width: 30px;
  height: 30px;
}

.conversation-container {
  width: min(400px, 40%);
}

.chat-container {
  height: calc(100vh - 72px);
}

.message {
  max-width: 70%;
}

#navbar-second-half {
  display: flex !important;
}

@media (max-width: 991px) {
  #navbar-first-half {
    display: block !important;
  }

  #navbar-second-half {
    justify-content: space-between !important;
  }

  #navbar-search-container {
    width: 100% !important;
    margin: 15px auto !important;
  }

  #avatar-navlink {
    margin-left: 1.2rem !important;
  }

  #navbar-logout {
    margin-right: 1.2rem !important;
  }

  #navbar-icons-container {
    text-align: center;
  }
}

@media (min-width: 991px) {
  #navbarSupportedContent hr {
    display: none !important;
  }
}
