<!DOCTYPE html>
<html>
    {% include 'partials/head.html.twig' %}
    <body>
    {% block real_body %}
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">App</a>
                </div>
            </nav>
        {% endblock %}
        {% include 'partials/alerts.html.twig' %}
        <div id="body">
            {% block body %}{% endblock %}
        </div>
    {% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
