<!DOCTYPE html>
<html>
    {% include 'partials/head.html.twig' %}
    <body>
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">App</span>
                </div>
            </nav>
        {% endblock %}
        {% include 'partials/alerts.html.twig' %}
        <div id="body">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
