{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <div class="container">
        {% include 'user/_account.sidebar.html.twig' with {'currentPill' : currentPill} %}
        <br>
        <br>
        {% block account_extra %}{% endblock %}
        <div class="my-container-sm mx-auto">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
